# ----------------------------------------
# Node Modules
# ----------------------------------------
node_modules/

# ----------------------------------------
# Build Output
# ----------------------------------------
dist/

# ----------------------------------------
# TypeScript
# ----------------------------------------
*.tsbuildinfo

# ----------------------------------------
# Env
# ----------------------------------------
.env
.env.*.local
.env.local

# ----------------------------------------
# Logs
# ----------------------------------------
logs/
*.log

# ----------------------------------------
# Database Dumps (optional)
# ----------------------------------------
dump/

# ----------------------------------------
# Testing & Coverage
# ----------------------------------------
coverage/
.nyc_output/

# ----------------------------------------
# VS Code
# ----------------------------------------
.vscode/
.history/

# ----------------------------------------
# OS
# ----------------------------------------
.DS_Store
Thumbs.db
